@import "reset.css";
@import "base-page.css";

body{
    display: flex;
    justify-content: center;
    align-items: center;

}
#base-page{
    width: 360px;
    height: 640px;
    padding-top: 101px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-ala{
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 78px;
    height: 70px;
    margin-bottom: 30px;
}
.homepage-title{
    margin-bottom:45px;
}

.homepage__main-title{
    font-size: 40px;
    font-weight: 600;
}
.homepage__main-title--color{
    color: #B9FF46;
}
.homepage__sub-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.6;
}

.button__start{
    width: 143px;
    height: 32px;
    background-color: #ffffff;
    padding: 16px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 10PX;
    margin-bottom: 101px;
}
.button__start-txt{
color: #000;
font-size: 20px;
font-weight: 600;
    }

.fa-paw{
    color: #121212;
}
.homepage__together{

    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 1.6;
}
#homepage-number{
    color: #B9FF46;
}